In [34]:
##import important library
import io
import os
import pandas as pd
import requests

In [47]:
df = pd.read_parquet('yellow_tripdata_2023-11.parquet')

In [48]:
df.head()

,trip_id,vendorindex_id,vendor_id,vendor_type,datetimeindex_id,pick_datetime,pick_hour,pick_day,pick_month,pick_year,...,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,Airport_fee,total_amount
0,0,0,1,"Creative Mobile Technologies,LLC",0,2023-11-01 00:03:00,0,1,11,2023,...,13.60,61.8,2.75,0.5,0.00,0.00,1.0,0.0,1.75,66.05
1,1,1,1,"Creative Mobile Technologies,LLC",1,2023-11-01 00:03:00,0,1,11,2023,...,3.50,20.5,3.50,0.5,5.10,0.00,1.0,2.5,0.00,30.60
2,2,2,2,Verifone Inc,2,2023-10-31 23:58:00,23,31,10,2023,...,18.61,70.0,0.00,0.5,16.54,6.94,1.0,2.5,1.75,99.23
3,3,3,2,Verifone Inc,3,2023-11-01 00:03:00,0,1,11,2023,...,0.39,4.4,1.00,0.5,1.88,0.00,1.0,2.5,0.00,11.28
4,4,4,2,Verifone Inc,4,2023-11-01 00:06:00,0,1,11,2023,...,1.20,10.0,1.00,0.5,3.00,0.00,1.0,2.5,0.00,18.00

In [12]:
df = df.drop_duplicates().reset_index(drop=True)

In [41]:
number_of_duplicates = duplicates.sum()
print("Number of duplicate rows:", number_of_duplicates)

Number of duplicate rows: 0

In [38]:
df.insert(0, 'trip_index_id', df.index)
df.insert(1, 'ratecodeindex_id',df.index)
df.insert(2,'payment_typeindex_id',df.index)
df.insert(3,'store_and_fwd_flag_index_id', df.index)
df.insert(4, 'vendor_index', df.index)
df.insert(5,'datetimeindex_id', df.index)
df.insert(6, 'locationindex_id', df.index)

In [46]:
df.to_parquet('yellow_tripdata_2023-11.parquet')

In [25]:

# This will give you the current working directory
current_directory = os.getcwd()
print("Current Directory:", current_directory)

# To get the full path to your file, append the file name to the current directory
file_path = os.path.join(current_directory, 'your_file_name.parquet')
print("Full File Path:", file_path)

Current Directory: C:\Users\lshb8\Documents\Real-Time Data Stream\index_data_column
Full File Path: C:\Users\lshb8\Documents\Real-Time Data Stream\index_data_column\your_file_name.parquet

In [26]:
file_path = r'C:\Users\lshb8\Documents\Real-Time Data Stream\index_data_column\yellow_tripdata_2023-11(1).parquet'

# Save the DataFrame to a Parquet file
df.to_parquet(file_path)

print(f"File saved to {file_path}")

File saved to C:\Users\lshb8\Documents\Real-Time Data Stream\index_data_column\yellow_tripdata_2023-11(1).parquet